.body{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    // a{
    //     color: white;
    //     text-decoration: none;
    //     text-transform: uppercase;
    // }

    p{
        margin: 0px;
        display: flex;
        overflow: hidden;
        font-size: 32px;
        padding-right: 30px;
        padding-top: 10px;
        font-weight: 300;
    }
}

@media only screen and (min-width: 1000px) {
   
    .body{
        max-width: 1200px;
        margin-top: 80px;

        p{
            font-size: 5vw;
            padding-right: 2vw;
        }
    }
}
// .loading {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     font-size: 1.5rem;
//     font-weight: bold;
//     color: white;
//     background: rgba(0, 0, 0, 0.8);
//     padding: 1rem 2rem;
//     border-radius: 8px;
//     z-index: 9999;
// }
.link {  color: white;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.fullScreenLoading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white; // Change to match your theme
    z-index: 9999; // Ensure it appears on top
}

.loadingText {
    font-size: 24px;
    color: white;
    font-weight: bold;
}
