@import "tailwindcss";
/* @font-face {
  font-family: "MyFont";
  src: url("/fonts/MyFont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
} */


@font-face {
  font-family: "Classical";
  src: url("/fonts/ClassicalDiary-Regular Demo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.classical-text {
  font-family: "Classical", sans-serif;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: black;
  font-family: "Classical", sans-serif;
}

.masonry-layout {
  column-count: 6; /* Number of columns */
  column-gap: 16px; /* Gap between columns */
}




.masonry-item {
  break-inside: avoid; /* Prevents items from breaking inside columns */
  margin-bottom: 16px; /* Space between rows */
}
@media (max-width: 768px) {
  .masonry-layout {
    column-count: 3; /* 2 columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .masonry-layout {
    column-count: 3; /* 1 column on very small screens */
  }
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}
