@media (max-width: 767px) {
  .dv {
    display: block; /* Visible only on small screens */
  }

.title {
    position: relative;
    background-color: black;
    height: 48vh; /* Make the section full height */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align content to the bottom of the section */
  }
  
  .image1, .image2 {
    position: absolute;
    width: 850px;
    z-index: 11; /* Adjust the size as needed */
  }
  
  .image1 {
    bottom: 0; /* Position the first image at the bottom */
  }
  
  .image2 {
    bottom: 20px; /* Position the second image slightly above the first image */
    animation: float 3s ease-in-out infinite; /* Apply animation to image 2 */
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100px); /* Adjust the upward movement */
    }
    100% {
      transform: translateY(0);
    }
  }
  
}
  @media (min-width: 768px) {
    .dv {
      display: none; // Hides on larger screens
    }
  }